body {
	background-color: #F5F5F5;
}

.main-contents {
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	background-color: white;
}

.maincontent{
	margin-bottom: 30px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
	padding-right: 25px;
	padding-left: 25px;
	overflow: hidden;
}

.loginform {
  background: #ffffff;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

.loginform h2 {
  text-align: center;
  padding: 1em 0;
}

form {
	margin-bottom: 25px;
}

.login-container {
  margin-bottom: 0.75em;
  width: 100%;
}

.login-container input {
  background: #F8F8F8;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.login-container input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button {
  margin: 2em 0 0;
  width: 100%;
}

.submitButton .button{
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.headermenu {
	background: #f16272;
	height: 40px;
	line-height: 40px;
	list-style: none;
	overflow: hidden;
	margin-bottom: 30px;
}

.header li{
	width: 110px;
	height: 40px;
	text-align: center;
	float: left;
	display: inline-block;
}

.header li a {
	text-decoration: none;
	color: white;
	display: inline-block;
	height: 40px;
}

.header li a:hover{
	color: white;
	font-weight: bold;
}

.copyright {
  font-size: 12px;
  padding: 2em 0;
  text-align: center;
  color: #666;

}

th {
	width: 90px;
}

td {
	width: 100px;
}

.user{
	width: 220px;
	margin-bottom: 20px;
	display: table;
	float: left;
}


.tweet-box {
	width: 780px;
	height: 56px;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	width:85%;
}

.message {
	border: solid 1px #F2F2F2;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.comments {
	border-top: solid 1px #F2F2F2;
}

.subject{
	font-size: 18px;
}

p.postUser {
	margin-top: 5px;
	margin-bottom: 0;
	width: 170px;
	display: inline-block;
	font-size: 15px;
}

p.category {
	margin: 0;
	width: 260px;
	display: inline-block;
	font-size: 15px;
}

.maintext {
	width: 100%;
	word-wrap: break-word;
	word-break:break-all;
}

pre {
	white-space: pre-wrap;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

.date {
	font-size: 14px;
	color: 696969;
}

label {
	display: block;
}

.btn {
	 display: inline-block;
	 max-width: 180px;
	 text-align: left;
	 border: 1.5px solid #696969;
	 font-size: 12px;
	 color: 696969;
	 text-decoration: none;
	 font-weight: bold;
	 padding: 2px 16px;
	 border-radius: 4px;
	 transition: .3s;
	 background: white;
}


.btn:hover {
  background-color: #696969;
  border-color: #696969;
  color: white;
}

.btn2 {
	 display: inline-block;
	 max-width: 180px;
	 text-align: left;
	 border: 1.5px solid #696969;
	 font-size: 12px;
	 color: 696969;
	 text-decoration: none;
	 font-weight: bold;
	 padding: 2px 16px;
	 margin-top: 5px;
	 border-radius: 4px;
	 transition: .3s;
	 background: white;
}

.btn2:hover {
  background-color: #696969;
  border-color: #696969;
  color: white;
}

.setting {
	display: inline-block;
	margin-top: 3px;
	margin-right: 5px;
}

.isWorking {
	display: inline-block;
	margin-top: 3px;
}

.dateserch{
	margin-bottom: 15px;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.accesserror {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}